html, body {
	margin  : 0;
	padding : 0;
	height  : 100%;
	width   : 100%;
}
@media only screen and (max-width: 600px) {
	html, body {
		height  : 117%;
	}
}
#map {
	width    : 100%;
	position : relative;
	height   : 100%;
}
.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.2);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}
.olControlPermalink {
	bottom: 3em;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	display: block;
	position: absolute;
	left: 0.5em;
} 
div.olControlZoomPanel .olControlZoomInItemInactive,
div.olControlZoomPanel .olControlZoomOutItemInactive {
	background: rgba(0,0,0,0.2);
	position: absolute;
	left:10px; 
}

div.olControlZoomPanel .olControlZoomInItemInactive {
	border-radius: 5px 5px 0 0;
	top: 30px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
	border-radius: 0 0 5px 5px ;
	top: 67px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after ,
div.olControlZoomPanel .olControlZoomInItemInactive:after{
	font-weight: bold;
	content   : '+';
	font-size : 36px;
	padding:  7px;
	z-index: 2000;
	color     : #fff;
	line-height: 1em;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after{
	content: '–';
	line-height: 0.9em;
	padding: 0 8px;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	display: none;
}
#title, #tags, #shortdesc {
	display: none;
}

.olControlScale {
    bottom: 10em;
    display: block;
    font-size: smaller;
    position: absolute;
    right: 3px;
}
.olControlScaleLine {
    bottom: 25px;
    display: block;
    font-size: xx-small;
    left: 10px;
    position: absolute;
}
.olControlScaleLineBottom {
    border-color: black black -moz-use-text-color;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    margin-top: -2px;
    text-align: center;
}
.olControlScaleLineTop {
    border-color: -moz-use-text-color black black;
    border-right: 2px solid black;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    text-align: center;
}

#geolocation {
 position:absolute; 
 color: white;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
 top: 30px; 
 right: 10px; 
 width: 60px; 
 height: 25px;
 z-index: 3000; 
 background: rgba(0,0,0,0.2);
 font-family: Arial;
 padding: 2px 4px;
 border-radius: 5px 5px 5px 5px;
 }

 #information {
 position:absolute; 
 color: white;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
 top: 76px; 
 right: 10px; 
 width: 60px; 
 height: 25px;
 z-index: 3000; 
 background: rgba(0,0,0,0.2);
 font-family: Arial;
 padding: 2px 4px;
 border-radius: 5px 5px 5px 5px;
 }

 #information2 {
 position:absolute; 
 color: white;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
 top: 180px; 
 right:20px; 
 width:60px; 
 height:25px;
 z-index:3000; 
 background: rgba(0,0,0,0.2);
 font-family: Arial;
 padding: 2px 4px;
 border-radius: 5px 5px 5px 5px;
 }
 
 #routes {
 position:absolute; 
 color: white;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
 top: 110px; 
 right:20px; 
 width:60px; 
 height:25px;
 z-index:3000; 
 background: rgba(0,0,0,0.2);
 font-family: Arial;
 padding: 2px 4px;
 border-radius:  5px 5px 5px 5px;
 }
 
 
 
.menue a:link {
  text-decoration:none;
  color: white;
  vertical-align: middle;
  }
.menue a:visited  {
  text-decoration:none;
  color: white;
  vertical-align: middle;
  }
.menue a:hover  {
  text-decoration:none;
  color: white;
  vertical-align: middle;
  }
.menue a:active {
  text-decoration:none;
  color: white;
  vertical-align: middle;
  }
.menue a:focus  {
  text-decoration:none;
  color: white;
  vertical-align: middle;
  }


